a	{
	color: #33331a;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

p	{
	font-size: 35pt;
	color: #33331a
}

#header_text {
	font-size: 40pt; 
	text-decoration: underline; 
	text-align: center; 
	font-weight: bold; 
	font-family: Comic Sans MS;
}

#list_text {
	text-align: center; 
	font-family: Comic Sans MS; 
	font-weight: bold;
}